 .avatar {
 	width: 1100px;
 	margin: 0 auto;
 	padding: 100px;
 }
 .avatar h2 {
 	padding-left: 240px;
 }
.avatar-img {
	width: 200px;
	height: 200px;

}
 @media (max-width: 960px) {
  .avatar {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .avatar {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .avatar {
    width: 300px;
  }
}
.avatar {  

  padding: 30px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  line-height: 20px;
  flex-grow: 1;
}
