.banner {
	background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(../../images/banner.jpg);
	background-size: cover;
	color: white;
	padding: 150px 0px;
}

.banner	h1 {
	font-size: 50px;
	color: white;
}

.banner h2 {
	font-size: 30px;
	font-weight: lighter;
	color: white;
	opacity: 0,9;
	margin-bottom: 45px;
}

}
 @media (max-width: 960px) {
  .banner {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .banner {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .banner {
    width: 300px;
  }
