.btn-blue {
	background-color: #1a3e59;
	padding: 15px 20px;
	border-radius: 4px;
	color: white;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

.button
}
 @media (max-width: 960px) {
  .button {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .button {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .button {
    width: 300px;
  }
